{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>What would you like your post to say now?</h2>
    <form action="" method="post">
        {{ update_form.hidden_tag() }}
        <div class="form-group">
                {{ update_form.title.label }}
                {{ update_form.title(class="form-control", value = post.title) }}

                {{ update_form.content.label }}
                <!-- {{ update_form.content(class="form-control", value = post.content) }} -->
                <textarea class="form-control" name="content" type="text" rows="3" >{{post.content}}</textarea>
            {{ update_form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock content %}